In [1]:
# Natural Language Toolkit, is a Python package that you can use for NLP
import nltk
#punkt is the required package for tokenization. nltk.download('punkt')
# General
import numpy as np 
import pandas as pd 
import re
# Data Exploration
import seaborn as sns
import matplotlib.pyplot as plt 

from wordcloud import WordCloud 
from collections import Counter

In [5]:
df=pd.read_csv("AmazonAlexa_Reviews.csv")

In [6]:
df

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1
...,...,...,...,...,...
3145,5,30-Jul-18,Black Dot,"Perfect for kids, adults and everyone in betwe...",1
3146,5,30-Jul-18,Black Dot,"Listening to music, searching locations, check...",1
3147,5,30-Jul-18,Black Dot,"I do love these things, i have them running my...",1
3148,5,30-Jul-18,White Dot,Only complaint I have is that the sound qualit...,1
3149,4,29-Jul-18,Black Dot,Good,1

In [7]:
#Q. (i) Plot a graph of Positive and Negative Feedback (1 = Positive Feedback, 0 = Negative Feedback)

In [8]:
#NLTK provides two methods for tokenization :
df['no_of_chars'] = df['verified_reviews'].astype(str).str.len()

In [9]:
#nltk.word_tokenize() to divide given text to word and
df['no_of_words'] = df['verified_reviews'].astype(str).apply(lambda x: len(nltk.word_tokenize(x)))

In [11]:
#nltk.sent_tokenize() to divide given text at sentence level.
df['no_of_sents'] = df['verified_reviews'].astype(str).apply(lambda x: len(nltk.sent_tokenize(x)))
df.head()

,rating,date,variation,verified_reviews,feedback,no_of_chars,no_of_words,no_of_sents
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1,13,4,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1,9,3,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1,195,41,2
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1,172,38,3
4,5,31-Jul-18,Charcoal Fabric,Music,1,5,1,1

In [19]:
import plotly.express as px
import plotly.graph_objects as go

In [22]:
temp = pd.DataFrame()
temp['Label'] = ['Negative','Positive']
temp['Count'] = [len(df[df['feedback'] == 0]), len(df[df['feedback'] == 1])] 
temp = temp.sort_values(by = ['Count'], ascending = False)

In [24]:
#plot the pie chart
fig = px.pie(temp, values = 'Count', names = 'Label', width = 600,color = 'Label', color_discrete_map = {'Negative': 'rgb(228, 26, 28)', 'Positive':'blue'} , template = 'plotly_dark', title = "Pie Chart")
fig_widget = go.FigureWidget(fig) 
fig_widget

FigureWidget({
    'data': [{'customdata': array([['Positive'],
                                   ['Negative']], dtype=object),
              'domain': {'x': [0.0, 1.0], 'y': [0.0, 1.0]},
              'hovertemplate': 'Label=%{customdata[0]}<br>Count=%{value}<extra></extra>',
              'labels': array(['Positive', 'Negative'], dtype=object),
              'legendgroup': '',
              'marker': {'colors': ['blue', 'rgb(228, 26, 28)']},
              'name': '',
              'showlegend': True,
              'type': 'pie',
              'uid': '1bd3636d-821c-42e2-a811-499c552f4c55',
              'values': array([2893,  257])}],
    'layout': {'legend': {'tracegroupgap': 0}, 'template': '...', 'title': {'text': 'Pie Chart'}, 'width': 600}
})

In [25]:
#Q. (ii) Convert the review text into lowercase

In [29]:
review = df.drop(['rating','feedback','date','variation','feedback','no_of_chars','no_of_words','no_of_sents'],axis=1)

In [30]:
review

                                       verified_reviews
0                                         Love my Echo!
1                                             Loved it!
2     Sometimes while playing a game, you can answer...
3     I have had a lot of fun with this thing. My 4 ...
4                                                 Music
...                                                 ...
3145  Perfect for kids, adults and everyone in betwe...
3146  Listening to music, searching locations, check...
3147  I do love these things, i have them running my...
3148  Only complaint I have is that the sound qualit...
3149                                               Good

[3150 rows x 1 columns]

In [31]:
#convert review in str type the use the function lower
review_lower = review.apply(lambda x :x.astype(str).str.lower()) 
review_lower

                                       verified_reviews
0                                         love my echo!
1                                             loved it!
2     sometimes while playing a game, you can answer...
3     i have had a lot of fun with this thing. my 4 ...
4                                                 music
...                                                 ...
3145  perfect for kids, adults and everyone in betwe...
3146  listening to music, searching locations, check...
3147  i do love these things, i have them running my...
3148  only complaint i have is that the sound qualit...
3149                                               good

[3150 rows x 1 columns]

In [32]:
#Q. (iii) Remove all punctuations from review text.

In [33]:
df['new_text'] = review_lower

In [34]:
import string 
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [36]:
def remove_punctuation(text):
    punctuationfree="".join([i for i in text if i not in string.punctuation])
    return punctuationfree
#storing the puntuation free text
df['clean_msg']= df['new_text'].apply(lambda text: remove_punctuation(text))

In [37]:
df['clean_msg']

0                                            love my echo
1                                                loved it
2       sometimes while playing a game you can answer ...
3       i have had a lot of fun with this thing my 4 y...
4                                                   music
                              ...
3145      perfect for kids adults and everyone in between
3146    listening to music searching locations checkin...
3147    i do love these things i have them running my ...
3148    only complaint i have is that the sound qualit...
3149                                                 good
Name: clean_msg, Length: 3150, dtype: object

In [38]:
#Q. (iv) Remove emoticons and emojis from the text

In [39]:
def remove_emoji(review): 
    emoji_pattern = re.compile("["
                               u"\U0001F600-\U0001F64F" # emoticons
                               u"\U0001F300-\U0001F5FF" # symbols & pictographs 
                               u"\U0001F680-\U0001F6FF" # transport & map symbols 
                               u"\U0001F1E0-\U0001F1FF" # flags (iOS) 
                               u"\U00002702-\U000027B0"
                               u"\U000024C2-\U0001F251"
                               "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'',review)
review

                                       verified_reviews
0                                         Love my Echo!
1                                             Loved it!
2     Sometimes while playing a game, you can answer...
3     I have had a lot of fun with this thing. My 4 ...
4                                                 Music
...                                                 ...
3145  Perfect for kids, adults and everyone in betwe...
3146  Listening to music, searching locations, check...
3147  I do love these things, i have them running my...
3148  Only complaint I have is that the sound qualit...
3149                                               Good

[3150 rows x 1 columns]

In [40]:
EMOTICONS=[':-<',':->'] 
def remove_emoticons(text):
    emoticon_pattern = re.compile(u'(' + u'|'.join(k for k in EMOTICONS) + u')')
    return emoticon_pattern.sub(r'', text)
df['clean_emoji']= df['clean_msg'].apply(lambda text: remove_emoji(text)) 
remove_emoticons("Hello.Good Morning, Have a nice day :->")

'Hello.Good Morning, Have a nice day '

In [41]:
#Q. (v) Tokenize the review text into words.

In [42]:
#defining function for tokenization
import re
def tokenization(text):
    tokens = re.split('W+',text)
    return tokens
#applying function to the column
df['msg_tokenied']= df['clean_emoji'].apply(lambda x: tokenization(x))

In [43]:
df['msg_tokenied'].head()

0                                       [love my echo]
1                                           [loved it]
2    [sometimes while playing a game you can answer...
3    [i have had a lot of fun with this thing my 4 ...
4                                              [music]
Name: msg_tokenied, dtype: object

In [44]:
#Q. (vi) Remove the Stopwords from the tokenized text.

In [45]:
from nltk.corpus import stopwords 
nltk.download('stopwords')
", ".join(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/yashdusane/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

"i, me, my, myself, we, our, ours, ourselves, you, you're, you've, you'll, you'd, your, yours, yourself, yourselves, he, him, his, himself, she, she's, her, hers, herself, it, it's, its, itself, they, them, their, theirs, themselves, what, which, who, whom, this, that, that'll, these, those, am, is, are, was, were, be, been, being, have, has, had, having, do, does, did, doing, a, an, the, and, but, if, or, because, as, until, while, of, at, by, for, with, about, against, between, into, through, during, before, after, above, below, to, from, up, down, in, out, on, off, over, under, again, further, then, once, here, there, when, where, why, how, all, any, both, each, few, more, most, other, some, such, no, nor, not, only, own, same, so, than, too, very, s, t, can, will, just, don, don't, should, should've, now, d, ll, m, o, re, ve, y, ain, aren, aren't, couldn, couldn't, didn, didn't, doesn, doesn't, hadn, hadn't, hasn, hasn't, haven, haven't, isn, isn't, ma, mightn, mightn't, mustn, mustn't, needn, needn't, shan, shan't, shouldn, shouldn't, wasn, wasn't, weren, weren't, won, won't, wouldn, wouldn't"

In [46]:
#removing th stop words
STOPWORDS = set(stopwords.words('english')) 
def remove_stopwords(text):
    """custom function to remove the stopwords"""
    return " ".join([word for word in str(text).split() if word not in STOPWORDS]) 
df["text_wo_stop"] = df["msg_tokenied"].apply(lambda text: remove_stopwords(text)) 
df.head()

,rating,date,variation,verified_reviews,feedback,no_of_chars,no_of_words,no_of_sents,new_text,clean_msg,clean_emoji,msg_tokenied,text_wo_stop
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1,13,4,1,love my echo!,love my echo,love my echo,[love my echo],['love echo']
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1,9,3,1,loved it!,loved it,loved it,[loved it],['loved it']
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1,195,41,2,"sometimes while playing a game, you can answer...",sometimes while playing a game you can answer ...,sometimes while playing a game you can answer ...,[sometimes while playing a game you can answer...,['sometimes playing game answer question corre...
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1,172,38,3,i have had a lot of fun with this thing. my 4 ...,i have had a lot of fun with this thing my 4 y...,i have had a lot of fun with this thing my 4 y...,[i have had a lot of fun with this thing my 4 ...,['i lot fun thing 4 yr old learns dinosaurs co...
4,5,31-Jul-18,Charcoal Fabric,Music,1,5,1,1,music,music,music,[music],['music']